.social {
  @include flexed(flex, unset, center);
  @extend %list;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: $mainTextColor;
    transition: color 250ms $timingFunction;

    &:hover {
      color: $accentColor;
    }
  }
}
